* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* style the body */

body {
    background-image: linear-gradient(to right, #86bfcabe, #80808060), url(../images/ballpen-blur-close-up-computer-porfolio.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 100vh;
}

/* Style the navbar */

.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
    background-color: #86bfca;
}

/* Navbar links */

.topnav a {
    float: left;
    color: #0a0000;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #003862;
    color: white;
}

.topnav a.active {
    background-color: #003862;
    color: white;
}

/* style the heading section */

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 48px;
    font-family: 'Nunito';
}

.heading-text {
    overflow: auto;
    letter-spacing: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin: 1%;
}

.heading-subsection-text {
    overflow: auto;
    letter-spacing: 4px;
    font-style: normal;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 20px;
    margin: 2%;
}

p {
    padding-bottom: 15px;
}

/* Apply media query on screens smaller than 720px */

@media screen and (max-width: 720px) {
    /* Style the navbar */
    .topnav {
        flex-direction: column;
    }
    .topnav a {
        padding: 4px 4px;
    }
    /* Style the heading */
    .heading-text {
        font-size: 25px;
    }
    .heading-subsection-text {
        font-size: 12px;
    }
}