* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* style body */

body {
    background-image: linear-gradient(to left, #ffffffb6, #f0efefd2), url(../images/white-texture-background-portfolio.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 100vh;
}

/* Style the navbar */

.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
    background-color: #86bfca;
}

/* Style Navbar links */

.topnav a {
    float: left;
    color: #0a0000;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #003862;
    color: white;
}

.topnav a.active {
    background-color: #003862;
    color: white;
}

/* style h1 section */

h1 {
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 55px;
    padding-bottom: 20px;
}

/* styling flex section */

.container-computer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
    margin: 30px;
    padding: 15px;
}

.heading-computer {
    font-family: 'Nunito';
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 20px;
}

.inner-text-computer {
    font-family: 'Nunito';
    font-size: 20px;
    padding-left: 40px;
}

.container-marketing {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
    margin: 30px;
    padding: 15px;
}

.heading-marketing {
    font-family: 'Nunito';
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
}

.inner-text-marketing {
    font-family: 'Nunito';
    font-size: 20px;
    padding-left: 40px;
}

.container-general {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
    margin: 30px;
    padding: 15px;
}

.heading-general {
    font-family: 'Nunito';
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 20px;
}

.inner-text-general {
    font-family: 'Nunito';
    font-size: 20px;
    padding-left: 40px;
}

/* Apply media query on screens smaller than 720px */

@media screen and (max-width: 720px) {
    /* Style navbar */
    .topnav {
        flex-direction: column;
    }
    .topnav a {
        padding: 4px 4px;
    }
    /* Style flex container */
    .inner-text-computer {
        padding-left: 10px;
    }
    .inner-text-marketing {
        padding-left: 10px;
    }
    .inner-text-general {
        padding-left: 10px;
    }
}