* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Style the body */

body {
    background-image: linear-gradient(to right, #86bfca9d, #a1a0a060), url(../images/imac-yellowmug-portfolio.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 100vh;
}

/* Style the navbar */

.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
    background-color: #86bfca;
}

/* Navbar links */

.topnav a {
    float: left;
    color: #0a0000;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #003862;
    color: white;
}

.topnav a.active {
    background-color: #003862;
    color: white;
}

/* Style the header */

.heading {
    padding-top: 19%;
    text-align: center;
}

.heading-main {
    font-family: 'Nunito';
    font-size: 30px;
    padding-bottom: 2%;
    color: black;
}

.heading-subsection-1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 3px 3px aqua;
    letter-spacing: 7px;
    padding-bottom: 2%;
    /* Add animation to the css class */
    animation-name: animationFromLeft;
    animation-duration: 5s;
}

.heading-subsection-2 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: white;
    /* Add animation to the css class */
    animation-name: animationFromRight;
    animation-duration: 5s;
}

@keyframes animationFromLeft {
    0% {
        opacity: 0;
        color: white;
        transform: translate(-100px, 0);
    }
    50% {
        color: aquamarine;
    }
    80% {
        color: #050f64;
    }
    100% {
        opacity: 1;
        color: #003862;
        transform: translate(0);
    }
}

@keyframes animationFromRight {
    0% {
        opacity: 0;
        color: white;
        transform: translate(400px, 0);
    }
    50% {
        color: aqua;
    }
    80% {
        color: #86bfca;
    }
    100% {
        opacity: 1;
        color: lightgrey;
        transform: translate(0);
    }
}

/* Style contact me button */

footer {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.contact-me {
    background-color: #4ca1af;
    font-family: 'Nunito';
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

/* Apply media query on screens smaller than 720px */

@media screen and (max-width: 720px) {
    /* Style the navbar */
    .topnav {
        flex-direction: column;
    }
    .topnav a {
        padding: 4px 4px;
    }
    /* Style the body */
    body {
        background-image: linear-gradient(to right, #86bfca9d, #a1a0a060), url(../images/beach-portfolio.jpg);
    }
    /* Style the heading */
    .heading {
        color: black;
    }
    .heading-main {
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 4%;
    }
    .heading-subsection-1 {
        font-size: 28px;
        padding-bottom: 4%;
    }
    .heading-subsection-2 {
        font-size: 15px;
    }
    /* Style contact me button */
    .contact-me {
        right: 10px;
        font-size: 10px;
        color: white;
        text-decoration: none;
    }
}