* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', cursive;
    background-image: url(../images/office-portfolio.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 100vh;
}

/* Style the navbar */

.topnav {
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    color: white;
    overflow: hidden;
    background-color: #86bfca;
    position: fixed;
}

/* Navbar links */

.topnav a {
    float: left;
    color: #0a0000;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #003862;
    color: white;
}

.topnav a.active {
    background-color: #003862;
    color: white;
}

/* Style the header */

.heading {
    font-family: 'Comfortaa', cursive;
    color: white;
    padding-top: 20%;
    text-align: center;
}

.heading-main {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 2%;
}

.heading-subsection-1 {
    font-size: 35px;
    padding-bottom: 2%;
}

.heading-subsection-2 {
    font-size: 25px;
}

/* Style contact me button */

.contact-me {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: #003862;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}